<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>PREDICTION</h1>
    <form
      class="form-inline"
      action="/predict"
      method="post"
      enctype="multipart/form-data"
    >
      <input type="file" name="file" /><br />
      <input type="submit" class="btn btn-success" value="Predict" />
    </form>
    <img
      src="{{ user_image }}"
      alt="User Image"
      class="img-thumbnail"
      style="width: 300px; height: auto; float: right"
    />
    <img
      src="{{emoji}}"
      alt="Image"
      class="img-thumbnail"
      style="width: 66px; height: 66px; float: right; border: 1px red solid"
    />
    <h4>Name is: {{fruit}}</h4>
    <h4>Category Tree: {{class_category}}</h4>
  </body>
</html>
